div#sorte{
  margin-top: 100px;
  margin-left: 700px;
}

div#espaco{
  margin-right: 700px;
}

div#espaco1{
  margin-top: 10px;
  margin-left: 60px;
}

div#resultado{
  margin-top: 50px;
  margin-left: 810px;
}

button#botao{

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button#boton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input#chute{
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 32px;
}

i{
  color: red;
}

.interagir {
  cursor: pointer;
  text-align: center;
  width: 131px;
  height: 90px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.dado {
  cursor: pointer;
  text-align: center;
  width: 117px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
